@import "tailwindcss"; 

body{ 
  background-image: url('public/scott-webb-hDyO6rr3kqk-unsplash.jpg');
  background-size: cover;        /* or 'contain' */
  background-position: center;
  background-repeat: no-r
}